*{
	margin: 0;	
}
body{
	background-color: rgb(251,225,174);
}
table{
	width: 100%;
	margin: 0 auto;
	margin-top: 200px;
	font-style: "微软雅黑";
	font-weight: bold;
}
tr{
	height:45px;
	line-height: 45px;
	padding-bottom: 10px;
}
table tr:nth-child(odd) td{
	padding-bottom: 20px;
}
table tr:nth-child(even) td{
	color: #85461B;
	padding-bottom: 30px;
}
td{
	text-align: left;
	font-size: 35px;
	padding-left: 20px;
}
li{
	list-style-type: none;
	width: 100%;
}
.page{
	margin: 0 auto ;
	width: 90%;
	position: relative;
	background: white;
	border: 1px solid white;
	border-radius: 5px;
	padding-bottom: 50px;
}
.test{
	width: 30px;
	height: 30px;
}
.header h1{
	color: #85461B;
	font-size: 30pt;
	margin-right: 5%;
	float: right;
	margin-top: 60px;
}
.title0{
	background: url(../img/CSlogo.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	margin-left: 5%;
	margin-top: 20px;
	height: 124px;
	width: 316px;
	float: left;
}
.title00{
	width: 100%;
	height: 50px;
	float:left;
	padding-top: 20px;
	border: 1px solid rgb(251,225,174);
}
#clock{
	height: 50px;
	width: 200px;
	margin-right: 10px;
	font-size: 40px;
	text-align: right;
	float: right;
}
.title1{
	width: 90%;
	height: 115px;
	line-height: 115px;
	text-indent: 6px;
	background:url(../img/tag.png) no-repeat 0px 0px;
	background-size: cover;
	position: absolute;top: 60px;left: -5%;
	color: white;
	font-style: "微软雅黑";
	font-size: 32px;
}
.pagecode{
	position: absolute;top:95px;right: 5%;
	font-size: 35px;
	font-style:italic;
	font-family: "times new roman";
	color: #85461B;
}
.btns{
	width: 100%;
	height: 80px;
	margin-top: 30px;
}
.backbtn{
	background-color: rgb(243,152,20);
	float: left;
	margin-left: 10%;
	text-align: center;
	height: 80px;
	line-height: 80px;
	width: 200px;
	color: white;
	border-radius: 5px;
	font-size: 35px;
	font-weight: bold;
}
.forwardbtn{
	background-color: rgb(243,152,20);
	float: right;
	margin-right: 10%;
	text-align: center;
	height: 80px;
	line-height: 80px;
	width: 200px;
	color: white;
	border-radius: 5px;
	font-size: 35px;
	font-weight: bold;
}
.submiter{
	background-color: #85461B;
	float: right;
	margin-right: 15%;
	text-align: center;
	height: 80px;
	line-height: 80px;
	width: 200px;
	color: white;
	border-radius: 5px;
	font-size: 35px;
	font-weight: bold;
}
.header{
	width: 100%;
	height: 250px;
	display: block;
}
.page1{
	display: block;
}
.page2{
	display: none;
}
.page3{
	display: none;
}
.page4{
	display: none;
}
.page5{
	display: none;
}
.page6{
	display: none;
}
.page7{
	display: none;
}
.page8{
	display: none;
}	
.page9{
	display: none;
}	
.page10{
	display: none;
}	
.page11{
	display: none;
}													
.Alert{
	width: 100%;
	height: 15%;
	background-color: rgb(251,147,22);
	position: fixed;top:30%;left: 0;
	border-radius: 5px;
	z-index: 2;
	display: none;
}
.Alert p{
	margin-top: 7%;
	margin-left: 10%;
	float: left;
	color: white;
	font-size: 60px;
}
.shutdown{
	height: 30px;
	width: 30px;
	font-size: 30px;
	float: right;
	color: white;
}
.signature{
	height: 50px;
	width: 150px;
	font-size: 30px;
	text-align: center;
	float: right;
	margin-right: 5%;
}
.score{
	display: none;
}
a{
	text-decoration: none;
}
