<!DOCTYPE html>
<html>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<head>
		<title>ASPX Page</title>
		<script language="javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
		<script language="javascript" src="/assets/js/sea.js" ></script>
		<script language="javascript" src="/js/data.js"></script>
		<script language="javascript" src="/assets/NSF/js/NSF.0.0.4.min.js"></script>
		<link href="css/Techs_WM.css" rel="stylesheet" type="text/css"/>
	</head>
	<style>
		li{
			list-style-type: none;
			width: 100%;
		}
		table{
			width: 80%;
			margin: 50px auto;
		}
		td{
			width: 50%;
			text-indent: 30px;
		}
		.score{
			display: none;
		}
	</style>
	<body>
	
		<div class="header">
			<div class="title0"></div>
			<div id="clock"></div>
			<h1>售后技术支持工程师测试结果</h1>
		</div>
		
		<div class="page">
			<ul name="infotest" view-id='{ id:"wx_0062",cross:"false", model:"infotest", rowIdentClass:"infotest", paras:[{"name":"OpenId","value":"123432433dsds"},{"name":"rows","value":1000},{"name":"page","value":1}]}'></ul>
		</div>
		
		<script id="infotest" type="text/html">
			<li>
				<table class="score">
					<tr>
						<td class="item1">{{if item1 == "1"}}J{{else if item1 == "2"}}P{{/if}}</td>
						<td class="item2">{{if item2 == "1"}}P{{else if item2 == "2"}}J{{/if}}</td>
						<td class="item3">{{if item3 == "1"}}S{{else if item3 == "2"}}N{{/if}}</td>
						<td class="item4">{{if item4 == "1"}}E{{else if item4 == "2"}}I{{/if}}</td>
						<td class="item5">{{if item5 == "1"}}N{{else if item5 == "2"}}S{{/if}}</td>
						<td class="item6">{{if item6 == "1"}}F{{else if item6 == "2"}}T{{/if}}</td>
						<td class="item7">{{if item7 == "1"}}P{{else if item7 == "2"}}J{{/if}}</td>
						<td class="item8">{{if item8 == "1"}}E{{else if item8 == "2"}}I{{/if}}</td>
						<td class="item9">{{if item9 == "1"}}J{{else if item9 == "2"}}P{{/if}}</td>
						<td class="item10">{{if item10 == "1"}}J{{else if item10 == "2"}}P{{/if}}</td>
					</tr>
					<tr>
						<td class="item11">{{if item11 == "1"}}P{{else if item11 == "2"}}J{{/if}}</td>
						<td class="item12">{{if item12 == "1"}}I{{else if item12 == "2"}}E{{/if}}</td>
						<td class="item13">{{if item13 == "1"}}S{{else if item13 == "2"}}N{{/if}}</td>
						<td class="item14">{{if item14 == "1"}}E{{else if item14 == "2"}}I{{/if}}</td>
						<td class="item15">{{if item15 == "1"}}N{{else if item15 == "2"}}S{{/if}}</td>
						<td class="item16">{{if item16 == "1"}}F{{else if item16 == "2"}}T{{/if}}</td>
						<td class="item17">{{if item17 == "1"}}P{{else if item17 == "2"}}J{{/if}}</td>
						<td class="item18">{{if item18 == "1"}}I{{else if item18 == "2"}}E{{/if}}</td>
						<td class="item19">{{if item19 == "1"}}E{{else if item19 == "2"}}I{{/if}}</td>
						<td class="item20">{{if item20 == "1"}}J{{else if item20 == "2"}}P{{/if}}</td>
					</tr>
					<tr>
						<td class="item21">{{if item21 == "1"}}P{{else if item21 == "2"}}J{{/if}}</td>
						<td class="item22">{{if item22 == "1"}}I{{else if item22 == "2"}}E{{/if}}</td>
						<td class="item23">{{if item23 == "1"}}E{{else if item23 == "2"}}I{{/if}}</td>
						<td class="item24">{{if item24 == "1"}}N{{else if item24 == "2"}}S{{/if}}</td>
						<td class="item25">{{if item25 == "1"}}P{{else if item25 == "2"}}J{{/if}}</td>
						<td class="item26">{{if item26 == "1"}}I{{else if item26 == "2"}}E{{/if}}</td>
						<td class="item27">{{if item27 == "1"}}I{{else if item27 == "2"}}E{{/if}}</td>
						<td class="item28">{{if item28 == "1"}}J{{else if item28 == "2"}}P{{/if}}</td>
						<td class="item29">{{if item29 == "1"}}N{{else if item29 == "2"}}S{{/if}}</td>
						<td class="item30">{{if item30 == "1"}}F{{else if item30 == "2"}}T{{/if}}</td>
					</tr>
					<tr>
						<td class="item31">{{if item31 == "1"}}T{{else if item31 == "2"}}F{{/if}}</td>
						<td class="item32">{{if item32 == "1"}}S{{else if item32 == "2"}}N{{/if}}</td>
						<td class="item33">{{if item33 == "1"}}P{{else if item33 == "2"}}J{{/if}}</td>
						<td class="item34">{{if item34 == "1"}}E{{else if item34 == "2"}}I{{/if}}</td>
						<td class="item35">{{if item35 == "1"}}I{{else if item35 == "2"}}E{{/if}}</td>
						<td class="item36">{{if item36 == "1"}}J{{else if item36 == "2"}}P{{/if}}</td>
						<td class="item37">{{if item37 == "1"}}N{{else if item37 == "2"}}S{{/if}}</td>
						<td class="item38">{{if item38 == "1"}}F{{else if item38 == "2"}}T{{/if}}</td>
						<td class="item39">{{if item39 == "1"}}T{{else if item39 == "2"}}F{{/if}}</td>
						<td class="item40">{{if item40 == "1"}}S{{else if item40 == "2"}}N{{/if}}</td>
					</tr>
					<tr>
						<td class="item41">{{if item41 == "1"}}P{{else if item41 == "2"}}J{{/if}}</td>
						<td class="item42">{{if item42 == "1"}}I{{else if item42 == "2"}}E{{/if}}</td>
						<td class="item43">{{if item43 == "1"}}J{{else if item43 == "2"}}J{{/if}}</td>
						<td class="item44">{{if item44 == "1"}}N{{else if item44 == "2"}}S{{/if}}</td>
						<td class="item45">{{if item45 == "1"}}F{{else if item45 == "2"}}T{{/if}}</td>
						<td class="item46">{{if item46 == "1"}}T{{else if item46 == "2"}}F{{/if}}</td>
						<td class="item47">{{if item47 == "1"}}S{{else if item47 == "2"}}N{{/if}}</td>
						<td class="item48">{{if item48 == "1"}}I{{else if item48 == "2"}}E{{/if}}</td>
						<td class="item49">{{if item49 == "1"}}J{{else if item49 == "2"}}P{{/if}}</td>
						<td class="item50">{{if item50 == "1"}}N{{else if item50 == "2"}}S{{/if}}</td>
					</tr>
					<tr>
						<td class="item51">{{if item51 == "1"}}F{{else if item51 == "2"}}T{{/if}}</td>
						<td class="item52">{{if item52 == "1"}}T{{else if item52 == "2"}}F{{/if}}</td>
						<td class="item53">{{if item53 == "1"}}S{{else if item53 == "2"}}N{{/if}}</td>
						<td class="item54">{{if item54 == "1"}}I{{else if item54 == "2"}}E{{/if}}</td>
						<td class="item55">{{if item55 == "1"}}N{{else if item55 == "2"}}S{{/if}}</td>
						<td class="item56">{{if item56 == "1"}}F{{else if item56 == "2"}}T{{/if}}</td>
						<td class="item57">{{if item57 == "1"}}T{{else if item57 == "2"}}F{{/if}}</td>
						<td class="item58">{{if item58 == "1"}}S{{else if item58 == "2"}}N{{/if}}</td>
						<td class="item59">{{if item59 == "1"}}J{{else if item59 == "2"}}P{{/if}}</td>
						<td class="item60">{{if item60 == "1"}}I{{else if item60 == "2"}}E{{/if}}</td>
					</tr>
					<tr>
						<td class="item61">{{if item61 == "1"}}S{{else if item61 == "2"}}N{{/if}}</td>
						<td class="item62">{{if item62 == "1"}}E{{else if item62 == "2"}}I{{/if}}</td>
						<td class="item63">{{if item63 == "1"}}N{{else if item63 == "2"}}S{{/if}}</td>
						<td class="item64">{{if item64 == "1"}}F{{else if item64 == "2"}}T{{/if}}</td>
						<td class="item65">{{if item65 == "1"}}P{{else if item65 == "2"}}J{{/if}}</td>
						<td class="item66">{{if item66 == "1"}}I{{else if item66 == "2"}}E{{/if}}</td>
						<td class="item67">{{if item67 == "1"}}E{{else if item67 == "2"}}I{{/if}}</td>
						<td class="item68">{{if item68 == "1"}}J{{else if item68 == "2"}}P{{/if}}</td>
						<td class="item69">{{if item69 == "1"}}T{{else if item69 == "2"}}F{{/if}}</td>
						<td class="item70">{{if item70 == "1"}}J{{else if item70 == "2"}}P{{/if}}</td>
					</tr>
					<tr>
						<td class="item71">{{if item71 == "1"}}P{{else if item71 == "2"}}J{{/if}}</td>
						<td class="item72">{{if item72 == "1"}}I{{else if item72 == "2"}}E{{/if}}</td>
						<td class="item73">{{if item73 == "1"}}S{{else if item73 == "2"}}N{{/if}}</td>
						<td class="item74">{{if item74 == "1"}}N{{else if item74 == "2"}}S{{/if}}</td>
						<td class="item75">{{if item75 == "1"}}T{{else if item75 == "2"}}N{{/if}}</td>
						<td class="item76">{{if item76 == "1"}}P{{else if item76 == "2"}}J{{/if}}</td>
						<td class="item77">{{if item77 == "1"}}E{{else if item77 == "2"}}I{{/if}}</td>
						<td class="item78">{{if item78 == "1"}}T{{else if item78 == "2"}}F{{/if}}</td>
						<td class="item79">{{if item79 == "1"}}N{{else if item79 == "2"}}S{{/if}}</td>
						<td class="item80">{{if item80 == "1"}}F{{else if item80 == "2"}}T{{/if}}</td>
					</tr>
					<tr>
						<td class="item81">{{if item81 == "1"}}T{{else if item81 == "2"}}F{{/if}}</td>
						<td class="item82">{{if item82 == "1"}}S{{else if item82 == "2"}}N{{/if}}</td>
						<td class="item83">{{if item83 == "1"}}N{{else if item83 == "2"}}S{{/if}}</td>
						<td class="item84">{{if item84 == "1"}}F{{else if item84 == "2"}}T{{/if}}</td>
						<td class="item85">{{if item85 == "1"}}T{{else if item85 == "2"}}F{{/if}}</td>
						<td class="item86">{{if item86 == "1"}}S{{else if item86 == "2"}}N{{/if}}</td>
						<td class="item87">{{if item87 == "1"}}N{{else if item87 == "2"}}S{{/if}}</td>
						<td class="item88">{{if item88 == "1"}}F{{else if item88 == "2"}}T{{/if}}</td>
						<td class="item89">{{if item89 == "1"}}T{{else if item89 == "2"}}F{{/if}}</td>
						<td class="item90">{{if item90 == "1"}}S{{else if item90 == "2"}}N{{/if}}</td>
					</tr>
					<tr>
						<td class="item91">{{if item91 == "1"}}F{{else if item91 == "2"}}T{{/if}}</td>
						<td class="item92">{{if item92 == "1"}}T{{else if item92 == "2"}}F{{/if}}</td>
						<td class="item93">{{if item93 == "1"}}S{{else if item93 == "2"}}N{{/if}}</td>
						<td>*</td>
						<td>{{name}}</td>
						<td>*</td>
						<td>{{createtime}}</td>
						<td>*</td>
						<td>{{id}}</td>
						<td>#</td>
					</tr>				
				</table>
				<table class="Results{{id}}">
						<tr>
							<td class="Name"></td>
							<td></td>
						</tr>
						<tr>
							<td class="CreateTime"></td>
							<td></td>
						</tr>
						<tr>
							<td class="Es"></td>
							<td class="Is"></td>
						</tr>
						<tr>
							<td class="Ss"></td>
							<td class="Ns"></td>
						</tr>
						<tr>
							<td class="Ts"></td>
							<td class="Fs"></td>
						</tr>
						<tr>
							<td class="Js"></td>
							<td class="Ps"></td>
						</tr>
						<tr>
							<td></td>
							<td class="charactor"></td>
						</tr>
				</table>
			</li>
		</script>
		
	</body>
	<script type="text/javascript">
		seajs.use('/assets/NSF/js/NSF.System.Data.js', Infotest);
	</script>
</html>